@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --clr-primary-200: rgba(29, 29, 29, 1);
  --clr-primary-300: rgba(131, 131, 131, 1);
  --clr-primary-350: rgba(210, 210, 210, 1);
  --clr-primary-400: rgba(255, 89, 75, 1);
  --clr-primary-500: rgba(100, 75, 255, 1);
  --clr-focus: rgba(0, 208, 255, 1);
  --clr-focus-bg: rgba(0, 208, 255, .05);
  --clr-hover: rgba(244, 244, 244, 1);
  --clr-bg-200: rgba(245, 245, 245, 1);
  --clr-bg-300: rgba(48, 50, 63, 1);
  --clr-border: rgba(219, 219, 219);
  --shadow-focus: rgba(59,130,246,.25);
  --container-padding: 12rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: var(--clr-focus);
  font-weight: 600;
}

button {
  font-weight: 600;
}

img, video {
  height: auto;
  max-width: 100%;
  pointer-events: none;
}

input {
  transition: .3s;
  &:hover {
    background-color: var(--clr-hover);
  }
  &:focus {
    background-color: transparent;
    border: 2px solid var(--clr-focus);
    box-shadow: 0px 0px 12px 1px var(--shadow-focus);
  }
}

@media screen and (max-width: 1280px) {
  :root {
    --container-padding: 4rem;
  }
}

@media screen and (max-width: 1024px) {
  :root {
    --container-padding: 3rem;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --container-padding: 2rem;
  }
}

@media screen and (max-width: 480px) {
  :root {
    --container-padding: 1rem;
  }
}