.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding);
  row-gap: 6rem;
  min-height: 100vh;
}

@media screen and (max-width: 768px) {
  .main {
    padding-top: 5rem;
  }
}