.wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
	gap: 1rem;
	&-el1 {
		grid-column: 1 / span 2;
	}
	&-el2 {
		height: 100%;
		object-fit: cover;
		grid-column: 3 / 4;
		grid-row: 1 / 3;
	}
	&-el3 {
		height: 100%;
		object-fit: cover;
		grid-column: 2 / 3;
		grid-row: 2 / 3;
	}
	&-el4 {
		outline: transparent;
		border: transparent;
		background-color: transparent;
		border: 2px solid var(--clr-primary-350);
		color: var(--clr-primary-200);
		font-size: 1.5rem;
		cursor: pointer;
		grid-column: 1 / 2;
		transition: .3s;
		&:hover {
			background-color: var(--clr-focus-bg);
			border-color: var(--clr-focus);
		}
	}
	&-el {
		border-radius: 1rem;
	}
}

/* .wrapper {
	position: relative;
	height: 500px;
	width: 100%;
	&-el1 {
		position: absolute;
		mask-image: url('../../../assets/svg/1.svg');
		mask-repeat: no-repeat;
		mask-size: 100%;
		max-width: 23%;
		height: 395px;
		object-fit: cover;
	}
	&-el2 {
		position: absolute;
		right: 0;
		bottom: 0;
		mask-image: url('../../../assets/svg/2.svg');
		mask-repeat: no-repeat;
		mask-size: 100%;
		max-width: 50.5%;
		height: 500px;
		object-fit: cover;
	}
	&-el3 {
		position: absolute;
		right: 51.5%;
		mask-image: url('../../../assets/svg/3.svg');
		mask-repeat: no-repeat;
		mask-size: 100%;
		max-width: 24%;
		height: 209px;
		object-fit: cover;
	}
	&-el5 {
		position: absolute;
		bottom: 0;
		right: 26.5%;
		mask-image: url('../../../assets/svg/4.svg');
		mask-repeat: no-repeat;
		mask-size: 100%;
		max-width: 53%;
		height: 276px;
	}
	&-el4 {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 266px;
		height: 100px;
		outline: transparent;
		border: transparent;
		border-radius: 1rem;
		background-color: transparent;
		border: 2px solid var(--clr-primary-350);
		color: var(--clr-primary-200);
		font-size: 1.5rem;
		cursor: pointer;
		grid-column: 1 / 2;
		transition: .3s;
		&:hover {
			background-color: var(--clr-focus-bg);
			border-color: var(--clr-focus);
		}
	}
} */