.product-wrapper {
	min-height: 70vh;
	width: 100%;
	padding-left: var(--container-padding);
	padding-right: var(--container-padding);
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	row-gap: .75rem;
	&-title {
		font-size: var(--font-size-300);
		color: var(--clr-primary-200);
	}
	&-form {
		width: 40%;
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		row-gap: .75rem;
		&-input__wrapper {
			width: 100%;
			display: flex;
			align-items: flex-start;
			flex-direction: column;
			row-gap: .5rem;
		}
		&-input {
			width: 100%;
			padding: 1rem 1rem;
			border: 2px solid var(--clr-border);
			outline: transparent;
			color: var(--clr-primary-200);
			border-radius: .5rem;
			font-weight: 600;
			resize: none;
			&::placeholder {
				color: var(--clr-primary-300);
			}
		}
		&-content__wrapper {
			display: flex;
			column-gap: .75rem;
			&-text {
				font-size: var(--font-size-0875);
				color: var(--clr-primary-300);
			}
			&-btn {
				border: transparent;
				outline: transparent;
				background-color: transparent;
				color: var(--clr-focus);
				font-size: var(--font-size-0875);
				cursor: pointer;
				transition: .3s;
				&:hover {
					opacity: .9;
				}
			}
		}
		&-label {
			font-size: var(--font-size-075);
			color: var(--clr-primary-200);
		}
		&-button {
			width: 100%;
			border: transparent;
			outline: transparent;
			font-size: 1.25rem;
			padding: 1rem 1rem;
			background-color: var(--clr-primary-200);
			color: var(--clr-bg-200);
			border-radius: .5rem;
			transition: .3s;
			cursor: pointer;
			&:hover {
				opacity: .9;
			}
		}
	}
}

@media screen and (max-width: 1024px) {
	.product-wrapper {
		&-form {
			width: 60%;
		}
	}
}

@media screen and (max-width: 768px) {
	.product-wrapper {
		&-form {
			width: 100%;
		}
	}
}